.detailLoading__left {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__top {
        width: 100%;
        height: 600px;
        border-radius: 6px;
    }

    &__bottom-box {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__bottom {
        width: 85px;
        height: 86px;
        border-radius: 6px;
    }

    @media (max-width:700px) {
        &__bottom-box {
            display: none;
        }
    }
}

.detailLoading__middle {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
        border-radius: 6px;
        width: 100%;
        height: 20px;

        &:nth-child(2) {
            width: 89%;
        }

        &:nth-child(3) {
            width: 97%;
        }

        &:nth-child(6) {
            width: 65%;
        }

        &:nth-child(4),
        &:nth-child(8) {
            width: 75%;
        }
    }
}

.detailLoading__right {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__top {
        width: 100%;
        height: 239.68px;
        border-radius: 5px;
    }

    &__item {
        width: 90%;
        height: 20px;
        border-radius: 6px;

        &:nth-child(3) {
            width: 76%;
        }
    }
}