.search {
  &__overly {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    cursor: default;
    z-index: -2;
  }

  &__search-form {
    position: absolute;
    display: flex;
    align-items: center;
    width: 360px;
    right: 30px;
  }

  &__search-btn {
    position: absolute;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__search-input {
    padding: 11px 16px 11px 48px;
    width: 100%;
    border: 0.6px solid #d5d5d5;
    border-radius: 6px;
    outline: none;
    background: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
  }

  //   &__search-input-show {
  //     border-radius: 6px 6px 0 ;
  //     border-bottom: none;
  //   }

  &__search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    border: 0.6px solid #d5d5d5;
    background: #f5f6fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 99999999;
    border-top: none;
    border-radius: 0 0 2px 2px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 2px;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #8d8d8d;
      border-radius: 20px;
    }
  }

  &__search-dropdown__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
    width: 100%;
  }

  &__search-dropdown__item {
    width: 100%;
  }

  &__search-dropdown__link {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    transition: all 0.5s ease;
    width: 100%;

    &:hover {
      background-color: #8d8d8d1a;
    }
  }

  &__search-dropdown__link {
    font-size: 14px;
  }

  &__search-dropdown__box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__arrow__btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f5f6fa;
    border: 0.6px solid #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    display: none;
  }

  &__btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f5f6fa;
    border: 0.6px solid #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    display: none;
  }

  @media (max-width: 700px) {
    &__search-form {
      position: static;
      display: flex;
      align-items: center;
      width: 295px;
    }
  }

  @media (max-width: 340px) {
    &__search-form {
      position: static;
      display: flex;
      align-items: center;
      width: 265px;
    }
  }
}